# Logs
logs
*.log
npm-debug.log*

# macos
.DS_Store

# editor settings
.vscode/

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage directory used by tools like istanbul
coverage
*.lcov

# Dependency directories
node_modules/

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Nuxt.js build / generate output
dist

# vitepress build output
**/.vitepress/dist

# vitepress cache directory
**/.vitepress/cache
